tr{
    margin: 10%;
}
h1              { font-size: 2.75em; margin: .67em 0 }
h2              { font-size: 2.5em; margin: .75em 0 }
h3              { font-size: 2em; margin: .83em 0 }
h5              { font-size: 1.75em; margin: 1.5em 0 }
h6              { font-size: 1.5em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}
li {
    padding-left:-5%;
    list-style-type:none;
    list-style:none;
   }

li:before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: rgb(177, 177, 177);
    margin-right:15px;
   }