body{
    background-image:url('Background.jpg');
    background-repeat: no-repeat;
    background-size:	cover;	
    color: #f2f2f2;
    font-size: 50px;
    font-family: 'cairo', sans-serif;

}
p{
    font-size: 25px;
}

.topnav {
    background-color: gray;
    overflow: hidden;
    margin: 1px;
    border-radius: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: light-gray;
    color: red;
    transition: 1s;
}

.topnav a.active {
    background-color: red;
    color: white;
    border-radius: 10px;
}

.grid-item {
    background-color: rgba(167, 167, 167, 0.267);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.grid-item1{
    background-color: rgba(167, 167, 167, 0.267);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 4;
    margin: auto;
}

.grid-item:hover{
    background-color: rgba(255, 22, 22, 0.205);
    color: red;
    transition: 0.1s;
}

.grid-item1:hover{
    background-color: rgba(255, 22, 22, 0.205);
    color: red;
    transition: 0.1s;
}

.output{
    text-align: center;
    height: 50%;
    background-color: #4e4e4e3a;
}
.movementButtons
{
    text-align: center;
    height: 50%;
    background-color: #582d2d91;
}
button{
    background-color: #4e4e4e3a;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input{
    background-color: #4e4e4e3a;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    color: white;
}

.Controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    
}
@media screen and (max-width: 600px){
    body{
        font-size: 20px;
        background-size: stretch;
        background-repeat: repeat;
    }
    .Controls{
        height: 50%;
    }
    .topnav a{
        font-size: 15px;
    }
    #followme{
        width:80%;
    }
    a{
        font-size: 15px;
    }
    img{
        width: 10px;
    }
    li{
        display: list-item;
    }

}
a{
    text-decoration: none;
    color: white;
}
li{
    display: inline;
    font-size: 35px;
    
}	

#followme{
	padding-top: 5px;
	text-align: center;
    position: absolute;
    bottom: 0;
    width:100%
}
#hide{
    visibility: hidden;
}